<main>
    <div class="content">
        <button id="themeToggle" class="loader-css"><i id="themeIcon" class="fas fa-sun"></i></button>
        <div class="images blur-load">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-1.jpeg">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-2.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-3.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-4.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-5.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-6.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-7.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-8.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-9.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-10.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-11.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-12.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-13.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-14.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-15.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-16.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-17.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-18.jpeg">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/MkCoding-19.png">
            <img class="image" loading="lazy" src="images/black-backGround.png" data-src="images/Mkcoding-team.png">
        </div>
        <div onclick="side_slide(-1)" class="slide left"><span class="fas fa-angle-left"></span></div>
        <div onclick="side_slide(1)" class="slide right"><span class="fas fa-angle-right"></span></div>
        <div class="btn-sliders">
            <span onclick="btn_slide(1)"></span>
            <span onclick="btn_slide(2)"></span>
            <span onclick="btn_slide(3)"></span>
            <span onclick="btn_slide(4)"></span>
            <span onclick="btn_slide(5)"></span>
            <span onclick="btn_slide(6)"></span>
            <span onclick="btn_slide(7)"></span>
            <span onclick="btn_slide(8)"></span>
            <span onclick="btn_slide(9)"></span>
            <span onclick="btn_slide(10)"></span>
            <span onclick="btn_slide(11)"></span>
            <span onclick="btn_slide(12)"></span>
            <span onclick="btn_slide(13)"></span>
            <span onclick="btn_slide(14)"></span>
            <span onclick="btn_slide(15)"></span>
            <span onclick="btn_slide(16)"></span>
            <span onclick="btn_slide(17)"></span>
            <span onclick="btn_slide(18)"></span>
            <span onclick="btn_slide(19)"></span>
            <span onclick="btn_slide(20)"></span>
        </div>
    </div>
    <div class="project-body">
        <div class="project-container">
    <div class="project-card">
        <div class="project-box">
            <div class="project-content">
                <h2>01</h2>
                <h3>level up your skills</h3>
                <p>Unleash your coding prowess! Crack today's challenge and level up your skills. Dive into the coding adventure now!</p>
                <div class="read-more-btns">
                    <a href="/POTD"><span>Today's POTD</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project-card">
        <div class="project-box">
            <div class="project-content">
                <h2>02</h2>
                <h3>Weekly Coding Contest solution</h3>
                <p>Explore the solutions to our Weekly Coding Contest challenges. Learn, adapt, and enhance your problem-solving skills!</p>
                <div class="read-more-btns">
                    <a href="/weeklyContest"><span>Contest practice</span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="project-card">
        <div class="project-box">
            <div class="project-content">
                <h2>03</h2>
                <h3>Digital journey with WebD</h3>
                <p>Embark on a digital journey with our Web Development Projects! Explore innovative websites, responsive designs, and cutting-edge solutions. Witness the power of web technology in action.</p>
                <div class="read-more-btns">
                    <a href="/Projects"><span>WebD Projects</span></a>
                </div>
            </div>
        </div>
    </div>
        </div></div>
<!--second--}} -->
<div class="teacher">
   <div class="container">
    <div class="title">
        <h2>Courses</h2>
    </div>
    <article class="review">
        <div class="img-container">
                <img id="person-img" class="image_1" loading="lazy" src="images/black-backGround.png" data-src="MkCoding-1.jpeg" alt="Teacher">
        </div>
        <h4 class="author-1"><!-- fromjs --></h4>
        <p class="job-1"><!-- fromjs --></p>
        <p id="info"><!-- fromjs --></p>
        <div class="button-container">
            <button class="pre-btn prev-btn"><i class="fa fa-chevron-left"></i></button>
            <button class="pre-btn next-btn"><i class="fa fa-chevron-right"></i></button>
        </div>
        <button class="random-btn">Surprise Me</button>
    </article>
   </div>
      <div class="left-teacher">
     <div class="title-l">
        <h2>Information</h2>
        <div class="about-teacher">
            <h4 class="author"><!-- fromjs --></h4>
            
            <p class="job"><span> Profession :</span> <!-- fromjs --></p>
            <p id="email"><span>Email :</span> <!-- fromjs --></p>
            <p id="infor"><!-- fromjs --></p>
        </div>
     </div>
   </div>
 </div>
 <div class="marquee">
    <marquee behavior="" direction="left" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();">
        <div class="div">Mk Studio jaipur rajasthan.</div>
    </marquee>
    <div class="marquee-head">
        <div class="marquee-1">
             <marquee class="marquee-1-a" direction="up" scrollamount="2">
                 <a href="/python">1. Python</a>
                 <a href="/DSA">2. Data Structure</a>
                 <a href="/WedD">3. Web Development</a>
                 <a href="/">4. Home</a>
             </marquee>
        </div>
        <div class="marquee-2">
            <h2>Learn</h2>
            <h4><b>Responsive Design :</b> Creating websites that adapt and look good on various devices, including desktops, tablets, and smartphones.</h4>
            <p><b>Security :</b> Implementing security measures to protect against common web vulnerabilities like cross-site scripting (XSS), SQL injection, and CSRF attacks.</p>
            <p><b>Design and User Experience (UX):</b>  Creating wireframes and mockups to plan the app's layout and user interactions.</p>
            <a href="login">Go To Learn <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
 </div>
 <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fa-solid fa-caret-up"></i></button>
 <div class="marquee-bottom"><marquee behavior="" direction="left" scrollamount="5" ><div class="div">Mk Studio Sikar rajasthan.</div></marquee></div>
 <a href="http://localhost:3000/login?Mkcoding=dashboardchat">Click here for exciting offers!</a>

  </main>
