<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="x-icon" href="M.jpg">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple login</title>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v3.0.6/css/line.css">
    <link rel="stylesheet" href="css/style3.css">


</head>
<body>
   <div class="login-form">
       <form action="/login" method="POST">
           <div class="container" style="width: 50vh;">
            <h2 class="hadding"><span>Login</span>  Form</h2>
            <p style="color: red;"><%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
    <hr/>
    <div class="field">
    <p><input type="email" name="email" id="email" placeholder="name123@gmail.com"></p>
    <p><input class="password" type="password" name="password"  placeholder="Password *"></p>
    <p class="submit"><input type="submit" class="input-submit" style="width: 100%;" value="Sign in"></p>
    </div>
    <input class="sign-in" type="radio"> Remember me <span style="color: blue;"><a href="">Need help?</a> </span>
    <hr>
    </div>
    <div class="Create">
        <a href="signUp">Create an Account</a>
    </div>
 </form>
</div>
<style>
@media screen and (max-width:500px){.container,.login-form{height:500px;border-radius:0;margin-left: 0px;}body{width:100%;overflow:hidden;background:#444}.login-form{width:98%;padding:0;margin:0}.Create a,input[type=submit]{background:#3bc206;color:#fff;font-weight:700;font-size:16px;border-radius:50px}}
</style>
</body>
</html>