<head>
    <title>secret</title>
    <!-- notes app -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="css/notes_app.css">
    <script src="js/notes_app.js" defer></script>
    <!-- {{!=disable back button=}} -->
    <script language="javascript" type="text/javascript" >
        function preventBack(){
        window.history.forward();
        }setTimeout("preventBack()", 0);
        window.onunload = function(){null};
    </script>
    <!-- {{!-=end=-}} -->
</head>
<%- include('../partials/navbar2') %>
<main>
    <div class="left-1">
        <div class="left-links nav-links">
            <a href="/python" class="imageItem" data-name="python">Python</a>
            <a href="/WebsiteProject" class="imageItem" data-name="WebD">Web Development</a>
            <a href="/DSA" class="imageItem" data-name="DSA">Data Structure and Algorithm using python</a>
            <a href="/Array" class="imageItem" data-name="Array">Arrays</a>
            <a href="/Graph" class="imageItem" data-name="Graph">Graphs</a>
            <a href="/HashTable" class="imageItem" data-name="Hash_Table">Hash Tables</a>
            <a href="/Heap" class="imageItem" data-name="Heap">Heaps</a>
            <a href="/LinkedList" class="imageItem" data-name="LinkedList">Linked Lists</a>
            <a href="/Loops" class="imageItem" data-name="Loops">Loops </a>
            <a href="/Queue" class="imageItem" data-name="Queue">Queues </a>
            <a href="/Stack" class="imageItem" data-name="Stack">Stacks </a>
            <a href="/Tree" class="imageItem" data-name="Tree">Trees </a>
            <a href="/uploadcode" class="imageItem" data-name="uploadcode">Upload Code </a>
            <a href="/ChatWithMe" class="imageItem" data-name="ChatWithMe">ChatWithMe</a>
            <a href="/Shoping" class="imageItem" data-name="Tree">Shoping </a>
            <a href="/blog" class="imageItem" data-name="blog">Blogs </a>
            <a href="/hindiStory" class="imageItem" data-name="hindiStory">Hindi Storys </a>
            <a href="/EnglishStorys" class="imageItem" data-name="EnglishStory">English Storys </a>
            <a href="/videoplayer" class="imageItem">Watch videos</a>
    
           </div>
       <div class="right-links">
        <div class="right-links-main">
        <h1>Welcome to the Mk Studio</h1>
        <!---->
         <div class="maindiv">
    <!--popup form html -->
    <div class="popup-box">
        <div class="popup">
            <div class="content-box">
                <header>
                    <p>Add a new Note</p>
                    <i class="uil uil-times"></i>
                </header>
                <form action="#">
                    <div class="row title">
                        <label>Title</label>
                        <input type="text">
                    </div>
                    <div class="row description">
                        <label>Description</label>
                        <textarea class="textarea"></textarea>
                    </div>
                    <button>Add Note</button>
                </form>
            </div>
        </div>
    </div>
    <!-- end -->
    <div class="wrapper-coding">
        <li class="add-box">
            <div class="icon"><i class="uil uil-upload"></i><p>Upload_Code</p>  </div>
        </li>
    </div>
   </div>
        <a style="color: #000;" href="/secretlogin">.</a>
    </div>
    <div class="marquee-bottom">
        <marquee behavior="" direction="left" scrollamount="5" >
            <div class="div">Mk Studio Sikar rajasthan.</div>
        </marquee>
    </div>
    <%- include('../partials/footer') %>
</div>
</div>
</main>
<style>
    .right-links h1{
        color: #fff;
    }
    .title-1 img{
        width: 67px;
        height: 67px;
    }
    .search-input .icon {
    right: 8px;
}
.footer-2 img{
   width: 182px;
   height: 99px;
}
.footer-3 img {
width: 330px;
height: 168px;
padding-top: 3px;
padding-left: 126px;
}
.footer-1 a {
  width: 100%;
  padding: 20px 48px 0px 14px;
}
</style>