<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>multiple image uploader</title><link rel="stylesheet" href="css/style3.css"></head>
<body>
<div class="login-form">
<div class="container">
<form action="/shopingupload" method="post" enctype="multipart/form-data">
<div class="field"> ID : <p><input type="text" name="uploadID"></p></div>
<div class="field">big Image <p><input type="file" name="file1" multiple></p> </div>
<div class="field"><p><input type="file" name="file2" multiple></p></div>
<div class="field"><p><input type="file" name="file3" multiple></p></div>
<div class="field"><p><input type="file" name="file4" multiple></p></div>
<div class="field"><p><input type="file" name="file5" multiple></p></div>
<div class="field"><p><input type="file" name="file6" multiple></p></div>
<div class="field"> Name with Unique: <p><input type="text" name="mainheading_h2" placeholder="mainheading_h2"></p></div>
<div class="field"> Prize : <p><input type="text" name="mainheading_h3" placeholder="mainheading_h3"></p></div>
<div class="field"> for shop-now :<p><input type="text" name="mainheading_h4" placeholder="mainheading_h4"></p></div>
<div class="field"> Links : <p><input type="text" name="mainheading_h6" placeholder="mainheading_h6"></p></div>
<div class="field"> for shop-now :<p><input type="text" name="mainheading_p" placeholder="mainheading_p"></p></div>
<input type="submit" value="Upload"> 
</form>
</div>    </div>
</body>
</html>