<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="x-icon" href="M.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Congratulations</title>
  <!-- <link rel="stylesheet" href="styles.css"> -->

  <style>
    body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-container {
  text-align: center;
}

h1 {
  font-size: 100px;
  margin: 0;
  color: #e74c3c;
}
h3{
   color: #e74c3c; 
}

p {
  font-size: 24px;
  margin: 10px 0;
  color: green;
}

a {
  display: inline-block;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
}

a:hover {
  background-color: #2980b9;
}

  </style>
</head>
<body>
  <div class="error-container">
    <h1>!</h1>
    <h3>congratulations !</h3>
    <p>Thank you Email has been successfully sent</p>
    <a href="contactUs">Back</a>
  </div>
</body>
</html>
